/*------------------------------------*\
  # VARIABLES
\*------------------------------------*/

// Main colors
$color_tuco: #161616 !default; // main text a.k.a. primary
$color_gustavo: #5d5d5d !default; // less important / input label / icons a.k.a. secondary
$color_jesse: #000000 !default; // sidebar a.k.a. tertiary
$color_hermanos: #e5e5e5 !default; // dividers / hr / disabled input
$color_hank: #b2b2b2 !default; // border / input
$color_skyler: #f5f5f5 !default; // main background / hover
$color_mrwhite: #ffffff !default; // materials


// Font weight
$font_weight_bold: 700 !default;
$font_weight_semi_bold: 600 !default;
$font_weight_medium: 500 !default;
$font_weight_light: 300 !default;


// Font size
$font_size_primary: 16px !default;
$font_size_secondary: 14px !default;
$font_size_tertiary: 12px !default;


// Line height
$line_height_primary: 1.2 !default;
$line_height_secondary: 1.5 !default;
$line_height_h1: 28px !default;
$line_height_h2: 26px !default;
$line_height_h3_h4: 24px !default;
$line_height_h5: 22px !default;
$line_height_h6: 18px !default;


// Spacing
$spacing_unit_primary: 8px !default;
$spacing_unit_secondary: 16px !default;
$spacing_unit_tertiary: 24px !default;
$spacing_unit_quaternary: 32px !default;
$spacing_unit_quinary: 40px !default;
$spacing_unit_senary: 64px !default;


// Scroll
$scrollbar_size: 4px;


// Border
$border_width_primary: 1px;

/*------------------------------------*\
  # NATIVE VARIABLES
\*------------------------------------*/

:root {
  --ui-border-primary: #{$border_width_primary} solid #{$color_hermanos};
  --ui-scrollbar--background-color: #{$color_hank};
}
