/*------------------------------------*\
  # GLOBAL
\*------------------------------------*/

button {
  // default button styles reset
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: inherit;
  border: 0;
  cursor: var(--button-cursor);

  &:disabled {
    --button-cursor: defualt;
  }
}

body,
button,
input {
  font-family: 'Inter', sans-serif;
}
